@model IEnumerable<CoreLayer.Dtos.JustSinavDto>
@{
    ViewData["Title"] = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste</h1>
@if (Model != null)
{
<table>
    <tr>
        <td>
            Sınav
        </td>
        <td>
            Tarihi
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.SinavAdi
            </td>
            <td>
                @item.Sure
            </td>
        </tr>
    }
</table>}
            else
            {
                <div>
                    <strong>Henüz hiç bir sınav bulunamadı.</strong>
                </div>
            }
